loyaltyservices.webapp/src/main/resources/META-INF/wsdl/W3AwardOperationsService/W3AwardOperationsService2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.thy.com/ws/requestHeader" xmlns:tns="http://www.thy.com/ws/requestHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="RequestHeader">
    <xs:sequence>
      <xs:element name="clientCode" type="xs:string" minOccurs="0"/>
      <xs:element name="clientUsername" type="xs:string" minOccurs="0"/>
      <xs:element name="channel" type="tns:ChannelType" minOccurs="0"/>
      <xs:element name="airlineCode" type="xs:string" minOccurs="0"/>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="agent" type="xs:string" minOccurs="0"/>
      <xs:element name="clientTransactionId" type="xs:string" minOccurs="0"/>
      <xs:element name="languageCode" type="xs:string" minOccurs="0"/>
      <xs:element name="agencyOfficeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="ton" type="xs:string" minOccurs="0"/>
      <xs:element name="userAgencyCode" type="xs:string" minOccurs="0"/>
      <xs:element name="agencyCode" type="xs:string" minOccurs="0"/>
      <xs:element name="currency" type="xs:string" minOccurs="0"/>
      <xs:element name="agencySubCode" type="xs:string" minOccurs="0"/>
      <xs:element name="dutyCode" type="xs:string" minOccurs="0"/>
      <xs:element name="extraParameters" type="tns:ParamType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParamType">
    <xs:sequence/>
    <xs:attribute name="key" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>

  <xs:simpleType name="ChannelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MOBILE"/>
      <xs:enumeration value="WEB"/>
      <xs:enumeration value="KIOSK"/>
      <xs:enumeration value="STAND_ALONE"/>
      <xs:enumeration value="TKAPP"/>
      <xs:enumeration value="CONVENTION"/>
      <xs:enumeration value="QRES"/>
      <xs:enumeration value="BATCH"/>
      <xs:enumeration value="IBE"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>