loyaltyservices.webapp/src/main/resources/META-INF/wsdl/W3AwardOperationsService/W3AwardOperationsService3.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://w3.redemption.ws.ms.thy.com/" xmlns:tns="http://w3.redemption.ws.ms.thy.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://www.thy.com/ws/responseHeader" xmlns:ns1="http://www.thy.com/ws/requestHeader">

  <xs:import namespace="http://www.thy.com/ws/requestHeader" schemaLocation="W3AwardOperationsService2.xml"/>

  <xs:import namespace="http://www.thy.com/ws/responseHeader" schemaLocation="W3AwardOperationsService1.xml"/>

  <xs:element name="AwardRefundDetail" type="tns:awardRefundDetail"/>

  <xs:element name="AwardRefundResult" type="tns:awardRefundResult"/>

  <xs:element name="AwardReissueControlResult" type="tns:awardReissueControlResult"/>

  <xs:element name="AwardReissueDetail" type="tns:awardReissueDetail"/>

  <xs:element name="AwardReissueResult" type="tns:awardReissueResult"/>

  <xs:element name="CalculateFlightAwardTax" type="tns:CalculateFlightAwardTax"/>

  <xs:element name="CalculateFlightAwardTaxDetail" type="tns:calculateFlightAwardTaxDetail"/>

  <xs:element name="CalculateFlightAwardTaxResponse" type="tns:CalculateFlightAwardTaxResponse"/>

  <xs:element name="CalculateFlightAwardTaxResult" type="tns:calculateFlightAwardTaxResult"/>

  <xs:element name="EcGiftMembers" type="tns:EcGiftMembers"/>

  <xs:element name="EcGiftMembersResponse" type="tns:EcGiftMembersResponse"/>

  <xs:element name="GiveEcGift" type="tns:GiveEcGift"/>

  <xs:element name="GiveEcGiftResponse" type="tns:GiveEcGiftResponse"/>

  <xs:element name="GiveExpiredMilesAfterRefund" type="tns:GiveExpiredMilesAfterRefund"/>

  <xs:element name="GiveExpiredMilesAfterRefundResponse" type="tns:GiveExpiredMilesAfterRefundResponse"/>

  <xs:element name="IsEnoughMiles" type="tns:IsEnoughMiles"/>

  <xs:element name="IsEnoughMilesResponse" type="tns:IsEnoughMilesResponse"/>

  <xs:element name="IssueAwardDetail" type="tns:issueFlightAwardDetail"/>

  <xs:element name="IssueAwardResult" type="tns:issueFlightAwardResult"/>

  <xs:element name="IssueFlightAwardTaxDetail" type="tns:issueFlightAwardTaxDetail"/>

  <xs:element name="MileageDonation" type="tns:MileageDonation"/>

  <xs:element name="MileageDonationCharityList" type="tns:MileageDonationCharityList"/>

  <xs:element name="MileageDonationCharityListResponse" type="tns:MileageDonationCharityListResponse"/>

  <xs:element name="MileageDonationResponse" type="tns:MileageDonationResponse"/>

  <xs:element name="awardRefund" type="tns:awardRefund"/>

  <xs:element name="awardRefundResponse" type="tns:awardRefundResponse"/>

  <xs:element name="awardReissue" type="tns:awardReissue"/>

  <xs:element name="awardReissueControl" type="tns:awardReissueControl"/>

  <xs:element name="awardReissueControlResponse" type="tns:awardReissueControlResponse"/>

  <xs:element name="awardReissueResponse" type="tns:awardReissueResponse"/>

  <xs:element name="exchangeMiles" type="tns:exchangeMiles"/>

  <xs:element name="exchangeMilesResponse" type="tns:exchangeMilesResponse"/>

  <xs:element name="isServiceUp" type="tns:isServiceUp"/>

  <xs:element name="isServiceUpResponse" type="tns:isServiceUpResponse"/>

  <xs:element name="issueFlightAward" type="tns:issueFlightAward"/>

  <xs:element name="issueFlightAwardResponse" type="tns:issueFlightAwardResponse"/>

  <xs:element name="issueFlightAwardTax" type="tns:issueFlightAwardTax"/>

  <xs:element name="issueFlightAwardTaxResponse" type="tns:issueFlightAwardTaxResponse"/>

  <xs:complexType name="getGiveExpiredMilesAfterRefundDetail">
    <xs:sequence>
      <xs:element name="awardInfoType" type="tns:awardInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="awardInfo">
    <xs:sequence>
      <xs:element name="approvalCode" type="xs:string" minOccurs="0"/>
      <xs:element name="memberID" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GiveExpiredMilesAfterRefund">
    <xs:sequence>
      <xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
      <xs:element name="getGiveExpiredMilesAfterRefundDetail" type="tns:getGiveExpiredMilesAfterRefundDetail" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="giveExpiredMilesAfterRefundResult">
    <xs:complexContent>
      <xs:extension base="tns:methodResult">
        <xs:sequence>
          <xs:element name="getExpiredMiles" type="tns:getExpiredMiles" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="methodResult">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getExpiredMiles">
    <xs:sequence>
      <xs:element name="expiredMiles" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="awardRefundResult">
    <xs:complexContent>
      <xs:extension base="tns:methodResult">
        <xs:sequence>
          <xs:element name="expiredMiles" type="xs:double"/>
          <xs:element name="refStat" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="calculateFlightAwardTaxResult">
    <xs:complexContent>
      <xs:extension base="tns:methodResult">
        <xs:sequence>
          <xs:element name="advanceMiles" type="xs:double"/>
          <xs:element name="corpMiles" type="xs:double"/>
          <xs:element name="quantity" type="xs:double"/>
          <xs:element name="totalMiles" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="awardReissueResult">
    <xs:complexContent>
      <xs:extension base="tns:methodResult">
        <xs:sequence>
          <xs:element name="appStat" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="issueFlightAwardResult">
    <xs:complexContent>
      <xs:extension base="tns:methodResult">
        <xs:sequence>
          <xs:element name="is_award_domestic" type="xs:int"/>
          <xs:element name="member_awd_id" type="xs:int"/>
          <xs:element name="p_app_code_1" type="xs:double"/>
          <xs:element name="p_app_code_2" type="xs:double"/>
          <xs:element name="p_app_code_3" type="xs:double"/>
          <xs:element name="p_app_code_4" type="xs:double"/>
          <xs:element name="p_app_code_5" type="xs:double"/>
          <xs:element name="p_app_stat" type="xs:string" minOccurs="0"/>
          <xs:element name="p_aw_code" type="xs:string" minOccurs="0"/>
          <xs:element name="p_awd_message_de" type="xs:string" minOccurs="0"/>
          <xs:element name="p_awd_message_en" type="xs:string" minOccurs="0"/>
          <xs:element name="p_awd_message_tr" type="xs:string" minOccurs="0"/>
          <xs:element name="p_m_name" type="xs:string" minOccurs="0"/>
          <xs:element name="p_m_sname" type="xs:string" minOccurs="0"/>
          <xs:element name="p_miles_fare1" type="xs:double"/>
          <xs:element name="p_miles_fare2" type="xs:double"/>
          <xs:element name="p_miles_fare3" type="xs:double"/>
          <xs:element name="p_miles_fare4" type="xs:double"/>
          <xs:element name="p_miles_fare5" type="xs:double"/>
          <xs:element name="p_miles_miles1" type="xs:double"/>
          <xs:element name="p_miles_miles2" type="xs:double"/>
          <xs:element name="p_miles_miles3" type="xs:double"/>
          <xs:element name="p_miles_miles4" type="xs:double"/>
          <xs:element name="p_miles_miles5" type="xs:double"/>
          <xs:element name="p_red_miles_1" type="xs:double"/>
          <xs:element name="p_red_miles_2" type="xs:double"/>
          <xs:element name="p_red_miles_3" type="xs:double"/>
          <xs:element name="p_red_miles_4" type="xs:double"/>
          <xs:element name="p_red_miles_5" type="xs:double"/>
          <xs:element name="p_red_total_miles" type="xs:double"/>
          <xs:element name="p_shop_miles1" type="xs:double"/>
          <xs:element name="p_shop_miles2" type="xs:double"/>
          <xs:element name="p_shop_miles3" type="xs:double"/>
          <xs:element name="p_shop_miles4" type="xs:double"/>
          <xs:element name="p_shop_miles5" type="xs:double"/>
          <xs:element name="p_shopmiles_fare1" type="xs:double"/>
          <xs:element name="p_shopmiles_fare2" type="xs:double"/>
          <xs:element name="p_shopmiles_fare3" type="xs:double"/>
          <xs:element name="p_shopmiles_fare4" type="xs:double"/>
          <xs:element name="p_shopmiles_fare5" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="awardReissueControlResult">
    <xs:complexContent>
      <xs:extension base="tns:methodResult">
        <xs:sequence>
          <xs:element name="check" type="xs:int"/>
          <xs:element name="appStat" type="xs:string" minOccurs="0"/>
          <xs:element name="awardLogSeq" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="isEnoughMilesResult">
    <xs:complexContent>
      <xs:extension base="tns:methodResult">
        <xs:sequence>
          <xs:element name="buyBonusMiles" type="xs:double"/>
          <xs:element name="creditableMiles" type="xs:double"/>
          <xs:element name="statu" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="issueFlightAwardTaxResult">
    <xs:complexContent>
      <xs:extension base="tns:methodResult">
        <xs:sequence>
          <xs:element name="approvalCode1" type="xs:int"/>
          <xs:element name="approvalCode2" type="xs:int"/>
          <xs:element name="approvalCode3" type="xs:int"/>
          <xs:element name="approvalCode4" type="xs:int"/>
          <xs:element name="approvalCode5" type="xs:int"/>
          <xs:element name="milesToBeExpired" type="xs:int"/>
          <xs:element name="redeemedMiles" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GiveExpiredMilesAfterRefundResponse">
    <xs:sequence>
      <xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
      <xs:element name="return" type="tns:giveExpiredMilesAfterRefundResult" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CalculateFlightAwardTaxResponse">
    <xs:sequence>
      <xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
      <xs:element name="return" type="tns:calculateFlightAwardTaxResult" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="awardReissueControlResponse">
    <xs:sequence>
      <xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
      <xs:element name="return" type="tns:awardReissueControlResult" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="calculateFlightAwardTaxDetail">
    <xs:sequence>
      <xs:element name="ffID" type="xs:string" minOccurs="0"/>
      <xs:element name="currency" type="xs:string" minOccurs="0"/>
      <xs:element name="amount" type="xs:double"/>
      <xs:element name="awardUnit" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="issueFlightAwardTaxResponse">
    <xs:sequence>
      <xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
      <xs:element name="return" type="tns:issueFlightAwardTaxResult" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="issueFlightAwardTaxDetail">
    <xs:sequence>
      <xs:element name="activityDate" type="xs:string" minOccurs="0"/>
      <xs:element name="approvalCode1" type="xs:double"/>
      <xs:element name="approvalCode2" type="xs:double"/>
      <xs:element name="approvalCode3" type="xs:double"/>
      <xs:element name="approvalCode4" type="xs:double"/>
      <xs:element name="approvalCode5" type="xs:double"/>
      <xs:element name="awardUnit" type="xs:string" minOccurs="0"/>
      <xs:element name="currency" type="xs:string" minOccurs="0"/>
      <xs:element name="currenyRate" type="xs:double"/>
      <xs:element name="force" type="xs:string" minOccurs="0"/>
      <xs:element name="isCorpAward" type="xs:string" minOccurs="0"/>
      <xs:element name="issueAwardTaxType" type="tns:issueAwardTaxType" minOccurs="0"/>
      <xs:element name="issuedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="memberId" type="xs:string" minOccurs="0"/>
      <xs:element name="referenceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="tax_value_Other" type="xs:double"/>
      <xs:element name="tax_value_YR" type="xs:double"/>
      <xs:element name="nPhaseId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="awardReissue">
    <xs:sequence>
      <xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
      <xs:element name="awardReissueDetail" type="tns:awardReissueDetail" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="awardReissueDetail">
    <xs:sequence>
      <xs:element name="p_1" type="xs:string" minOccurs="0"/>
      <xs:element name="p_2" type="xs:string" minOccurs="0"/>
      <xs:element name="p_3" type="xs:string" minOccurs="0"/>
      <xs:element name="p_4" type="xs:string" minOccurs="0"/>
      <xs:element name="p_5" type="xs:string" minOccurs="0"/>
      <xs:element name="p_app_code_1" type="xs:double"/>
      <xs:element name="p_app_code_2" type="xs:double"/>
      <xs:element name="p_app_code_3" type="xs:double"/>
      <xs:element name="p_app_code_4" type="xs:double"/>
      <xs:element name="p_app_code_5" type="xs:double"/>
      <xs:element name="p_destination_1" type="xs:string" minOccurs="0"/>
      <xs:element name="p_destination_2" type="xs:string" minOccurs="0"/>
      <xs:element name="p_destination_3" type="xs:string" minOccurs="0"/>
      <xs:element name="p_destination_4" type="xs:string" minOccurs="0"/>
      <xs:element name="p_destination_5" type="xs:string" minOccurs="0"/>
      <xs:element name="p_destination_6" type="xs:string" minOccurs="0"/>
      <xs:element name="p_destination_7" type="xs:string" minOccurs="0"/>
      <xs:element name="p_destination_8" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_class_1" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_class_2" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_class_3" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_class_4" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_class_5" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_class_6" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_class_7" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_class_8" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_date_1" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_date_2" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_date_3" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_date_4" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_date_5" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_date_6" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_date_7" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_date_8" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_number_1" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_number_2" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_number_3" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_number_4" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_number_5" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_number_6" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_number_7" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_number_8" type="xs:string" minOccurs="0"/>
      <xs:element name="p_ff_number" type="xs:string" minOccurs="0"/>
      <xs:element name="p_is_guarantee_class" type="xs:string" minOccurs="0"/>
      <xs:element name="p_iss_off" type="xs:string" minOccurs="0"/>
      <xs:element name="p_origin_1" type="xs:string" minOccurs="0"/>
      <xs:element name="p_origin_2" type="xs:string" minOccurs="0"/>
      <xs:element name="p_origin_3" type="xs:string" minOccurs="0"/>
      <xs:element name="p_origin_4" type="xs:string" minOccurs="0"/>
      <xs:element name="p_origin_5" type="xs:string" minOccurs="0"/>
      <xs:element name="p_origin_6" type="xs:string" minOccurs="0"/>
      <xs:element name="p_origin_7" type="xs:string" minOccurs="0"/>
      <xs:element name="p_origin_8" type="xs:string" minOccurs="0"/>
      <xs:element name="p_seg1_arrival_date" type="xs:string" minOccurs="0"/>
      <xs:element name="p_seg2_arrival_date" type="xs:string" minOccurs="0"/>
      <xs:element name="p_seg3_arrival_date" type="xs:string" minOccurs="0"/>
      <xs:element name="p_seg4_arrival_date" type="xs:string" minOccurs="0"/>
      <xs:element name="p_seg5_arrival_date" type="xs:string" minOccurs="0"/>
      <xs:element name="p_seg6_arrival_date" type="xs:string" minOccurs="0"/>
      <xs:element name="p_seg7_arrival_date" type="xs:string" minOccurs="0"/>
      <xs:element name="p_seg8_arrival_date" type="xs:string" minOccurs="0"/>
      <xs:element name="p_stat_1" type="xs:string" minOccurs="0"/>
      <xs:element name="p_stat_2" type="xs:string" minOccurs="0"/>
      <xs:element name="p_stat_3" type="xs:string" minOccurs="0"/>
      <xs:element name="p_stat_4" type="xs:string" minOccurs="0"/>
      <xs:element name="p_stat_5" type="xs:string" minOccurs="0"/>
      <xs:element name="p_stat_6" type="xs:string" minOccurs="0"/>
      <xs:element name="p_stat_7" type="xs:string" minOccurs="0"/>
      <xs:element name="p_stat_8" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="isServiceUp">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="isServiceUpResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CalculateFlightAwardTax">
    <xs:sequence>
      <xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
      <xs:element name="calculateFlightAwardTaxDetail" type="tns:calculateFlightAwardTaxDetail" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="issueFlightAward">
    <xs:sequence>
      <xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
      <xs:element name="issueFlightAwardDetail" type="tns:issueFlightAwardDetail" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="issueFlightAwardDetail">
    <xs:sequence>
      <xs:element name="p_ff_number" type="xs:string" minOccurs="0"/>
      <xs:element name="p_aw_type" type="xs:string" minOccurs="0"/>
      <xs:element name="p_count" type="xs:double"/>
      <xs:element name="p_1" type="xs:string" minOccurs="0"/>
      <xs:element name="p_2" type="xs:string" minOccurs="0"/>
      <xs:element name="p_3" type="xs:string" minOccurs="0"/>
      <xs:element name="p_4" type="xs:string" minOccurs="0"/>
      <xs:element name="p_5" type="xs:string" minOccurs="0"/>
      <xs:element name="p_company" type="xs:string" minOccurs="0"/>
      <xs:element name="p_origin_1" type="xs:string" minOccurs="0"/>
      <xs:element name="p_destination_1" type="xs:string" minOccurs="0"/>
      <xs:element name="p_stat_1" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_date_1" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_number_1" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_class_1" type="xs:string" minOccurs="0"/>
      <xs:element name="p_origin_2" type="xs:string" minOccurs="0"/>
      <xs:element name="p_destination_2" type="xs:string" minOccurs="0"/>
      <xs:element name="p_stat_2" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_date_2" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_number_2" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_class_2" type="xs:string" minOccurs="0"/>
      <xs:element name="p_origin_3" type="xs:string" minOccurs="0"/>
      <xs:element name="p_destination_3" type="xs:string" minOccurs="0"/>
      <xs:element name="p_stat_3" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_date_3" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_number_3" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_class_3" type="xs:string" minOccurs="0"/>
      <xs:element name="p_origin_4" type="xs:string" minOccurs="0"/>
      <xs:element name="p_destination_4" type="xs:string" minOccurs="0"/>
      <xs:element name="p_stat_4" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_date_4" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_number_4" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_class_4" type="xs:string" minOccurs="0"/>
      <xs:element name="p_origin_5" type="xs:string" minOccurs="0"/>
      <xs:element name="p_destination_5" type="xs:string" minOccurs="0"/>
      <xs:element name="p_stat_5" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_date_5" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_number_5" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_class_5" type="xs:string" minOccurs="0"/>
      <xs:element name="p_origin_6" type="xs:string" minOccurs="0"/>
      <xs:element name="p_destination_6" type="xs:string" minOccurs="0"/>
      <xs:element name="p_stat_6" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_date_6" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_number_6" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_class_6" type="xs:string" minOccurs="0"/>
      <xs:element name="p_origin_7" type="xs:string" minOccurs="0"/>
      <xs:element name="p_destination_7" type="xs:string" minOccurs="0"/>
      <xs:element name="p_stat_7" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_date_7" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_number_7" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_class_7" type="xs:string" minOccurs="0"/>
      <xs:element name="p_origin_8" type="xs:string" minOccurs="0"/>
      <xs:element name="p_destination_8" type="xs:string" minOccurs="0"/>
      <xs:element name="p_stat_8" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_date_8" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_number_8" type="xs:string" minOccurs="0"/>
      <xs:element name="p_f_class_8" type="xs:string" minOccurs="0"/>
      <xs:element name="p_upgr_seg_1" type="xs:double"/>
      <xs:element name="p_upgr_seg_2" type="xs:double"/>
      <xs:element name="p_paid_upgr_class" type="xs:string" minOccurs="0"/>
      <xs:element name="p_iss_off" type="xs:string" minOccurs="0"/>
      <xs:element name="p_tn_1" type="xs:string" minOccurs="0"/>
      <xs:element name="p_tn_2" type="xs:string" minOccurs="0"/>
      <xs:element name="p_tn_3" type="xs:string" minOccurs="0"/>
      <xs:element name="p_tn_4" type="xs:string" minOccurs="0"/>
      <xs:element name="p_tn_5" type="xs:string" minOccurs="0"/>
      <xs:element name="p_corp_awd" type="xs:string" minOccurs="0"/>
      <xs:element name="p_currency" type="xs:string" minOccurs="0"/>
      <xs:element name="p_ticket_fare1" type="xs:double"/>
      <xs:element name="p_ticket_fare2" type="xs:double"/>
      <xs:element name="p_ticket_fare3" type="xs:double"/>
      <xs:element name="p_ticket_fare4" type="xs:double"/>
      <xs:element name="p_ticket_fare5" type="xs:double"/>
      <xs:element name="p_is_guarantee_class" type="xs:string" minOccurs="0"/>
      <xs:element name="p_seg1_arrival_date" type="xs:string" minOccurs="0"/>
      <xs:element name="p_seg2_arrival_date" type="xs:string" minOccurs="0"/>
      <xs:element name="p_seg3_arrival_date" type="xs:string" minOccurs="0"/>
      <xs:element name="p_seg4_arrival_date" type="xs:string" minOccurs="0"/>
      <xs:element name="p_seg5_arrival_date" type="xs:string" minOccurs="0"/>
      <xs:element name="p_seg6_arrival_date" type="xs:string" minOccurs="0"/>
      <xs:element name="p_seg7_arrival_date" type="xs:string" minOccurs="0"/>
      <xs:element name="p_seg8_arrival_date" type="xs:string" minOccurs="0"/>
      <xs:element name="p_upgrade_cabin" type="xs:string" minOccurs="0"/>
      <xs:element name="p_pnr" type="xs:string" minOccurs="0"/>
      <xs:element name="p_pnr_create_date" type="xs:string" minOccurs="0"/>
      <xs:element name="nPhaseId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="awardRefundDetail">
    <xs:sequence>
      <xs:element name="appCode" type="xs:double"/>
      <xs:element name="cityCode" type="xs:string" minOccurs="0"/>
      <xs:element name="ffId" type="xs:string" minOccurs="0"/>
      <xs:element name="initials" type="xs:string" minOccurs="0"/>
      <xs:element name="isForced" type="xs:string" minOccurs="0"/>
      <xs:element name="mcoNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="subType" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="awardReissueResponse">
    <xs:sequence>
      <xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
      <xs:element name="return" type="tns:awardReissueResult" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="issueFlightAwardResponse">
    <xs:sequence>
      <xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
      <xs:element name="return" type="tns:issueFlightAwardResult" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IsEnoughMilesResponse">
    <xs:sequence>
      <xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
      <xs:element name="return" type="tns:isEnoughMilesResult" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="awardReissueControl">
    <xs:sequence>
      <xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
      <xs:element name="awardReissueDetail" type="tns:awardReissueDetail" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="isEnoughMilesDetail">
    <xs:sequence>
      <xs:element name="awardMile" type="xs:double"/>
      <xs:element name="awardType" type="xs:string" minOccurs="0"/>
      <xs:element name="ffID" type="xs:string" minOccurs="0"/>
      <xs:element name="isCorporate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="awardRefund">
    <xs:sequence>
      <xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
      <xs:element name="awardRefundDetail" type="tns:awardRefundDetail" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="awardRefundResponse">
    <xs:sequence>
      <xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
      <xs:element name="return" type="tns:awardRefundResult" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IsEnoughMiles">
    <xs:sequence>
      <xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
      <xs:element name="isEnoughMilesDetail" type="tns:isEnoughMilesDetail" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="issueFlightAwardTax">
    <xs:sequence>
      <xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
      <xs:element name="issueFlightAwardTaxDetail" type="tns:issueFlightAwardTaxDetail" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GiveEcGift">
    <xs:sequence>
      <xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
      <xs:element name="giveEcGiftDetail" type="tns:giveEcGiftDetail" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="giveEcGiftDetail">
    <xs:sequence>
      <xs:element name="operationType" type="xs:string" minOccurs="0"/>
      <xs:element name="ownerId" type="xs:string" minOccurs="0"/>
      <xs:element name="upgradeId" type="xs:string" minOccurs="0"/>
      <xs:element name="username" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GiveEcGiftResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:giveEcGiftResult" minOccurs="0"/>
      <xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="giveEcGiftResult">
    <xs:complexContent>
      <xs:extension base="tns:methodResult">
        <xs:sequence>
          <xs:element name="ecGiftList" type="tns:giveGiftMemberList" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="giveGiftMemberList">
    <xs:sequence>
      <xs:element name="cardType" type="xs:string" minOccurs="0"/>
      <xs:element name="memberId" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="surname" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EcGiftMembers">
    <xs:sequence>
      <xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
      <xs:element name="ecGiftMembersDetail" type="tns:ecGiftMembersDetail" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ecGiftMembersDetail">
    <xs:sequence>
      <xs:element name="memberId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EcGiftMembersResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:ecGiftMembersResult" minOccurs="0"/>
      <xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ecGiftMembersResult">
    <xs:complexContent>
      <xs:extension base="tns:methodResult">
        <xs:sequence>
          <xs:element name="ecGiftList" type="tns:ecGiftMemberList" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ecGiftMemberList">
    <xs:sequence>
      <xs:element name="giftDate" type="xs:string" minOccurs="0"/>
      <xs:element name="memberId" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="surname" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="exchangeMiles">
    <xs:sequence>
      <xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
      <xs:element name="exchangeMileDetail" type="tns:exchangeMileDetail" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="exchangeMileDetail">
    <xs:sequence>
      <xs:element name="memberId" type="xs:string" minOccurs="0"/>
      <xs:element name="quantity" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="exchangeMilesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:exchangeMileResult" minOccurs="0"/>
      <xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="exchangeMileResult">
    <xs:complexContent>
      <xs:extension base="tns:methodResult">
        <xs:sequence>
          <xs:element name="approvalCode" type="xs:int"/>
          <xs:element name="awardDefinition" type="xs:string" minOccurs="0"/>
          <xs:element name="awardId" type="xs:string" minOccurs="0"/>
          <xs:element name="redeemedMiles" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MileageDonationCharityList">
    <xs:sequence>
      <xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
      <xs:element name="mileageDonationCharityListDetail" type="tns:mileageDonationCharityListDetail" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mileageDonationCharityListDetail">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="MileageDonationCharityListResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:mileageDonationCharityListResult" minOccurs="0"/>
      <xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mileageDonationCharityListResult">
    <xs:complexContent>
      <xs:extension base="tns:methodResult">
        <xs:sequence>
          <xs:element name="charityList" type="tns:charityList" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="charityList">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"/>
      <xs:element name="mileTRYParity" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MileageDonation">
    <xs:sequence>
      <xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
      <xs:element name="mileageDonationDetail" type="tns:mileageDonationDetail" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mileageDonationDetail">
    <xs:sequence>
      <xs:element name="amount" type="xs:double"/>
      <xs:element name="charity" type="xs:string" minOccurs="0"/>
      <xs:element name="memberId" type="xs:string" minOccurs="0"/>
      <xs:element name="referenceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="nPhaseId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MileageDonationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:mileageDonationResult" minOccurs="0"/>
      <xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mileageDonationResult">
    <xs:complexContent>
      <xs:extension base="tns:methodResult">
        <xs:sequence>
          <xs:element name="approvalCode" type="xs:int"/>
          <xs:element name="redeemedMiles" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="issueAwardTaxType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="issueAwardTax"/>
      <xs:enumeration value="reIssueAwardTax"/>
      <xs:enumeration value="refundAwardTax"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>