loyaltyservices.webapp/src/main/resources/com/thy/loyalty/ms/ws/w3/W3MemberDetailsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://w3.ws.ms.thy.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://w3.ws.ms.thy.com/" name="W3MemberDetailsService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.thy.com/ws/responseHeader" schemaLocation="W3MemberDetailsService1.xml"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.thy.com/ws/requestHeader" schemaLocation="W3MemberDetailsService2.xml"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://w3.ws.ms.thy.com/" schemaLocation="W3MemberDetailsService3.xml"/>
</xsd:schema>
</types>
<message name="getMemberDetails">
<part name="parameters" element="tns:getMemberDetails"/>
</message>
<message name="getMemberDetailsResponse">
<part name="parameters" element="tns:getMemberDetailsResponse"/>
</message>
<message name="getMultiMemberDetails">
<part name="parameters" element="tns:getMultiMemberDetails"/>
</message>
<message name="getMultiMemberDetailsResponse">
<part name="parameters" element="tns:getMultiMemberDetailsResponse"/>
</message>
<message name="isServiceUp">
<part name="parameters" element="tns:isServiceUp"/>
</message>
<message name="isServiceUpResponse">
<part name="parameters" element="tns:isServiceUpResponse"/>
</message>
<portType name="MemberDetailsService">
<operation name="getMemberDetails">
<input message="tns:getMemberDetails"/>
<output message="tns:getMemberDetailsResponse"/>
</operation>
<operation name="getMultiMemberDetails">
<input message="tns:getMultiMemberDetails"/>
<output message="tns:getMultiMemberDetailsResponse"/>
</operation>
<operation name="isServiceUp">
<input message="tns:isServiceUp"/>
<output message="tns:isServiceUpResponse"/>
</operation>
</portType>
<binding name="MemberDetailsServicePortBinding" type="tns:MemberDetailsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMemberDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMultiMemberDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isServiceUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="W3MemberDetailsService">
<port name="MemberDetailsServicePort" binding="tns:MemberDetailsServicePortBinding">
<soap:address location="W3MemberDetailsService.wsdl"/>
</port>
</service>
</definitions>