loyaltyservices.webapp/src/main/resources/com/thy/loyalty/ms/ws/w3/W3MemberCredentialService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://w3.ws.ms.thy.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://w3.ws.ms.thy.com/" name="W3MemberCredentialService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.thy.com/ws/responseHeader" schemaLocation="W3MemberCredentialService1.xml"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.thy.com/ws/requestHeader" schemaLocation="W3MemberCredentialService2.xml"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://w3.ws.ms.thy.com/" schemaLocation="W3MemberCredentialService3.xml"/>
</xsd:schema>
</types>
<message name="checkMemberCredentials">
<part name="parameters" element="tns:checkMemberCredentials"/>
</message>
<message name="checkMemberCredentialsResponse">
<part name="parameters" element="tns:checkMemberCredentialsResponse"/>
</message>
<message name="checkMemberCredentialsForFG">
<part name="parameters" element="tns:checkMemberCredentialsForFG"/>
</message>
<message name="checkMemberCredentialsForFGResponse">
<part name="parameters" element="tns:checkMemberCredentialsForFGResponse"/>
</message>
<message name="checkPinSecurity">
<part name="parameters" element="tns:checkPinSecurity"/>
</message>
<message name="checkPinSecurityResponse">
<part name="parameters" element="tns:checkPinSecurityResponse"/>
</message>
<message name="checkPinSecurityForNewMember">
<part name="parameters" element="tns:checkPinSecurityForNewMember"/>
</message>
<message name="checkPinSecurityForNewMemberResponse">
<part name="parameters" element="tns:checkPinSecurityForNewMemberResponse"/>
</message>
<message name="findMemberByMobilePhone">
<part name="parameters" element="tns:findMemberByMobilePhone"/>
</message>
<message name="findMemberByMobilePhoneResponse">
<part name="parameters" element="tns:findMemberByMobilePhoneResponse"/>
</message>
<message name="memberLogin">
<part name="parameters" element="tns:memberLogin"/>
</message>
<message name="memberLoginResponse">
<part name="parameters" element="tns:memberLoginResponse"/>
</message>
<message name="updateMemberPin">
<part name="parameters" element="tns:updateMemberPin"/>
</message>
<message name="updateMemberPinResponse">
<part name="parameters" element="tns:updateMemberPinResponse"/>
</message>
<message name="getPinRules">
<part name="parameters" element="tns:getPinRules"/>
</message>
<message name="getPinRulesResponse">
<part name="parameters" element="tns:getPinRulesResponse"/>
</message>
<message name="checkPin2Reset">
<part name="parameters" element="tns:checkPin2Reset"/>
</message>
<message name="checkPin2ResetResponse">
<part name="parameters" element="tns:checkPin2ResetResponse"/>
</message>
<message name="isServiceUp">
<part name="parameters" element="tns:isServiceUp"/>
</message>
<message name="isServiceUpResponse">
<part name="parameters" element="tns:isServiceUpResponse"/>
</message>
<message name="isMemberValid">
<part name="parameters" element="tns:isMemberValid"/>
</message>
<message name="isMemberValidResponse">
<part name="parameters" element="tns:isMemberValidResponse"/>
</message>
<portType name="MemberCredentialService">
<operation name="checkMemberCredentials">
<input message="tns:checkMemberCredentials"/>
<output message="tns:checkMemberCredentialsResponse"/>
</operation>
<operation name="checkMemberCredentialsForFG">
<input message="tns:checkMemberCredentialsForFG"/>
<output message="tns:checkMemberCredentialsForFGResponse"/>
</operation>
<operation name="checkPinSecurity">
<input message="tns:checkPinSecurity"/>
<output message="tns:checkPinSecurityResponse"/>
</operation>
<operation name="checkPinSecurityForNewMember">
<input message="tns:checkPinSecurityForNewMember"/>
<output message="tns:checkPinSecurityForNewMemberResponse"/>
</operation>
<operation name="findMemberByMobilePhone">
<input message="tns:findMemberByMobilePhone"/>
<output message="tns:findMemberByMobilePhoneResponse"/>
</operation>
<operation name="memberLogin">
<input message="tns:memberLogin"/>
<output message="tns:memberLoginResponse"/>
</operation>
<operation name="updateMemberPin">
<input message="tns:updateMemberPin"/>
<output message="tns:updateMemberPinResponse"/>
</operation>
<operation name="getPinRules">
<input message="tns:getPinRules"/>
<output message="tns:getPinRulesResponse"/>
</operation>
<operation name="checkPin2Reset">
<input message="tns:checkPin2Reset"/>
<output message="tns:checkPin2ResetResponse"/>
</operation>
<operation name="isServiceUp">
<input message="tns:isServiceUp"/>
<output message="tns:isServiceUpResponse"/>
</operation>
<operation name="isMemberValid">
<input message="tns:isMemberValid"/>
<output message="tns:isMemberValidResponse"/>
</operation>
</portType>
<binding name="MemberCredentialServicePortBinding" type="tns:MemberCredentialService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkMemberCredentials">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkMemberCredentialsForFG">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkPinSecurity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkPinSecurityForNewMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findMemberByMobilePhone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="memberLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMemberPin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPinRules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkPin2Reset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isServiceUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isMemberValid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="W3MemberCredentialService">
<port name="MemberCredentialServicePort" binding="tns:MemberCredentialServicePortBinding">
<soap:address location="W3MemberCredentialService.wsdl"/>
</port>
</service>
</definitions>