loyaltyservices.webapp/src/main/resources/com/thy/loyalty/ms/ws/w3/W3MemberCredentialService3.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://w3.ws.ms.thy.com/" xmlns:ns2="http://www.thy.com/ws/responseHeader" xmlns:ns1="http://www.thy.com/ws/requestHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://w3.ws.ms.thy.com/">

<xs:import namespace="http://www.thy.com/ws/requestHeader" schemaLocation="W3MemberCredentialService2.xml"/>

<xs:import namespace="http://www.thy.com/ws/responseHeader" schemaLocation="W3MemberCredentialService1.xml"/>

<xs:element name="CheckCredentialDetails" type="tns:checkCredentialDetails"/>

<xs:element name="CheckPinSecurityDetails" type="tns:checkPinSecurityDetails"/>

<xs:element name="CheckPinSecurityForNewMemberDetails" type="tns:checkPinSecurityForNewMemberDetails"/>

<xs:element name="FindMemberByMobilePhoneDetails" type="tns:findMemberByMobilePhoneDetails"/>

<xs:element name="MaxPinLengthDetails" type="tns:maxPinLengthDetails"/>

<xs:element name="MaxPinLengthResult" type="tns:maxPinLengthResult"/>

<xs:element name="MemberLoginDetails" type="tns:memberLoginDetails"/>

<xs:element name="MemberLoginResult" type="tns:memberLoginW3Result"/>

<xs:element name="checkCredentialW3Result" type="tns:checkCredentialW3Result"/>

<xs:element name="checkMemberCredentials" type="tns:checkMemberCredentials"/>

<xs:element name="checkMemberCredentialsForFG" type="tns:checkMemberCredentialsForFG"/>

<xs:element name="checkMemberCredentialsForFGResponse" type="tns:checkMemberCredentialsForFGResponse"/>

<xs:element name="checkMemberCredentialsResponse" type="tns:checkMemberCredentialsResponse"/>

<xs:element name="checkPin2Reset" type="tns:checkPin2Reset"/>

<xs:element name="checkPin2ResetResponse" type="tns:checkPin2ResetResponse"/>

<xs:element name="checkPinSecurity" type="tns:checkPinSecurity"/>

<xs:element name="checkPinSecurityForNewMember" type="tns:checkPinSecurityForNewMember"/>

<xs:element name="checkPinSecurityForNewMemberResponse" type="tns:checkPinSecurityForNewMemberResponse"/>

<xs:element name="checkPinSecurityResponse" type="tns:checkPinSecurityResponse"/>

<xs:element name="findMemberByMobilePhone" type="tns:findMemberByMobilePhone"/>

<xs:element name="findMemberByMobilePhoneResponse" type="tns:findMemberByMobilePhoneResponse"/>

<xs:element name="getPinRules" type="tns:getPinRules"/>

<xs:element name="getPinRulesResponse" type="tns:getPinRulesResponse"/>

<xs:element name="isMemberValid" type="tns:isMemberValid"/>

<xs:element name="isMemberValidResponse" type="tns:isMemberValidResponse"/>

<xs:element name="isServiceUp" type="tns:isServiceUp"/>

<xs:element name="isServiceUpResponse" type="tns:isServiceUpResponse"/>

<xs:element name="memberLogin" type="tns:memberLogin"/>

<xs:element name="memberLoginResponse" type="tns:memberLoginResponse"/>

<xs:element name="memberPinUpdateW3Result" type="tns:memberPinUpdateW3Result"/>

<xs:element name="updateMemberPin" type="tns:updateMemberPin"/>

<xs:element name="updateMemberPinResponse" type="tns:updateMemberPinResponse"/>

<xs:complexType name="checkPin2Reset">
<xs:sequence>
<xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
<xs:element name="checkCredentialDetails" type="tns:checkCredentialDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkCredentialDetails">
<xs:sequence>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="member_id" type="xs:string" minOccurs="0"/>
<xs:element name="pin_number" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkPin2ResetResponse">
<xs:sequence>
<xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
<xs:element name="return" type="tns:memberLoginW3Result" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="memberLoginW3Result">
<xs:complexContent>
<xs:extension base="tns:methodResult">
<xs:sequence>
<xs:element name="forceMemberChangePin" type="xs:string" minOccurs="0"/>
<xs:element name="isLoginPossible" type="xs:string" minOccurs="0"/>
<xs:element name="loggedMemberId" type="xs:string" minOccurs="0"/>
<xs:element name="userRole" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="methodResult">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateMemberPin">
<xs:sequence>
<xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
<xs:element name="checkCredentialDetails" type="tns:checkCredentialDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMemberPinResponse">
<xs:sequence>
<xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
<xs:element name="return" type="tns:memberPinUpdateW3Result" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="memberPinUpdateW3Result">
<xs:complexContent>
<xs:extension base="tns:methodResult">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="checkMemberCredentialsForFG">
<xs:sequence>
<xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
<xs:element name="checkCredentialDetails" type="tns:checkCredentialDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkMemberCredentialsForFGResponse">
<xs:sequence>
<xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
<xs:element name="return" type="tns:checkCredentialW3Result" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkCredentialW3Result">
<xs:complexContent>
<xs:extension base="tns:methodResult">
<xs:sequence>
<xs:element name="memberId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="checkPinSecurityForNewMember">
<xs:sequence>
<xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
<xs:element name="checkPinSecurityForNewMemberDetails" type="tns:checkPinSecurityForNewMemberDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkPinSecurityForNewMemberDetails">
<xs:complexContent>
<xs:extension base="tns:checkCredentialDetails">
<xs:sequence>
<xs:element name="birth_date" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="checkPinSecurityForNewMemberResponse">
<xs:sequence>
<xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
<xs:element name="return" type="tns:checkCredentialW3Result" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkMemberCredentials">
<xs:sequence>
<xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
<xs:element name="checkCredentialDetails" type="tns:checkCredentialDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkMemberCredentialsResponse">
<xs:sequence>
<xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
<xs:element name="return" type="tns:checkCredentialW3Result" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isMemberValid">
<xs:sequence>
<xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
<xs:element name="isMemberValidDetail" type="tns:isMemberValidDetail" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isMemberValidDetail">
<xs:sequence>
<xs:element name="isMemberValidList" type="tns:isMemberValidDetailsRecord" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isMemberValidDetailsRecord">
<xs:sequence>
<xs:element name="birthDate" type="xs:string" minOccurs="0"/>
<xs:element name="ffid" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="recordId" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isMemberValidResponse">
<xs:sequence>
<xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
<xs:element name="return" type="tns:isMemberValidResults" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isMemberValidResults">
<xs:complexContent>
<xs:extension base="tns:methodResult">
<xs:sequence>
<xs:element name="isMemberValidResultList" type="tns:isMemberValidResultRecord" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="isMemberValidResultRecord">
<xs:complexContent>
<xs:extension base="tns:methodResult">
<xs:sequence>
<xs:element name="isValid" type="xs:string" minOccurs="0"/>
<xs:element name="recordId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getPinRules">
<xs:sequence>
<xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
<xs:element name="maxPinLengthDetails" type="tns:maxPinLengthDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="maxPinLengthDetails">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPinRulesResponse">
<xs:sequence>
<xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
<xs:element name="return" type="tns:maxPinLengthResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="maxPinLengthResult">
<xs:complexContent>
<xs:extension base="tns:methodResult">
<xs:sequence>
<xs:element name="maxPinLength" type="xs:int"/>
<xs:element name="pinRules" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="isServiceUp">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isServiceUpResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="memberLogin">
<xs:sequence>
<xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
<xs:element name="memberLoginDetails" type="tns:memberLoginDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="memberLoginDetails">
<xs:complexContent>
<xs:extension base="tns:checkCredentialDetails">
<xs:sequence>
<xs:element name="login_channel" type="xs:string" minOccurs="0"/>
<xs:element name="login_text" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="memberLoginResponse">
<xs:sequence>
<xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
<xs:element name="return" type="tns:memberLoginW3Result" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkPinSecurity">
<xs:sequence>
<xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
<xs:element name="checkPinSecurityDetails" type="tns:checkPinSecurityDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkPinSecurityDetails">
<xs:complexContent>
<xs:extension base="tns:checkCredentialDetails">
<xs:sequence>
<xs:element name="transactionType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="checkPinSecurityResponse">
<xs:sequence>
<xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
<xs:element name="return" type="tns:checkCredentialW3Result" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findMemberByMobilePhone">
<xs:sequence>
<xs:element name="requestHeader" type="ns1:RequestHeader" minOccurs="0"/>
<xs:element name="findMemberByMobilePhoneDetails" type="tns:findMemberByMobilePhoneDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findMemberByMobilePhoneDetails">
<xs:sequence>
<xs:element name="mobile_phone" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findMemberByMobilePhoneResponse">
<xs:sequence>
<xs:element name="responseHeader" type="ns2:ResponseHeader" minOccurs="0"/>
<xs:element name="return" type="tns:checkCredentialW3Result" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>